{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>系统重置</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<form method="POST" id="reset-ctf-form">
					<div class="alert alert-danger" role="alert">
						<p>
							重置CTF将删除所有用户和团队数据，请慎重操作，确认是否完成备份，如果未进行备份，所有非挑战数据都将丢失。
						</p>

						<span>
							<strong>
								创建数据的备份请点击 <a href="{{ url_for('admin.config', _anchor='backup') }}">创建CTF备份</a>
								或者通过复制数据库和整个源代码文件。
							</strong>
						</span>
					</div>

					<input id="nonce" type="hidden" name="nonce" value="{{ nonce }}">

					<button class="btn btn-warning btn-lg btn-block">
						开始重置
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		$('#reset-ctf-form').submit(function(e){
			e.preventDefault();
			ezq({
				title: "Reset CTF?",
				body: "Are you sure you want to reset your CTFd instance?",
				success: function () {
					$('#reset-ctf-form').off('submit').submit();
				}
			});
		});
	</script>
{% endblock %}
