<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<td class="text-center"><b>IP 地址</b></td>
					<td class="text-center"><b>最后一次登录</b></td>
					<td class="text-center"><b>国家</b></td>
				</tr>
			</thead>
			<tbody>
			{% for addr in addrs %}
				<tr>
					<td class="text-center">{{ addr.ip }}</td>
					<td class="text-center solve-time">
						<span data-time="{{ addr.date | isoformat }}"></span>
					</td>
					{% set country = lookup_ip_address(addr.ip) %}
					{% if country %}
					<td class="text-center">
						<i class="flag-{{ country.lower() }}"></i>
						&nbsp;
						{{ lookup_country_code(country) }}
					</td>
					{% else %}
					<td class="text-center">
					</td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
