<div role="tabpanel" class="tab-pane config-section" id="settings">
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group">
			<label>
				挑战可见性<br>
				<small class="form-text text-muted">
					控制用户是否必须登录才能查看挑战题目
				</small>
			</label>
			<select class="form-control" name="challenge_visibility">
				<option value="public" {% if challenge_visibility == 'public' %}selected{% endif %}>
					可见
				</option>
				<option value="private" {% if challenge_visibility == 'private' %}selected{% endif %}>
					不可见
				</option>
				<option value="admins" {% if challenge_visibility == 'admins' %}selected{% endif %}>
					仅管理员可见
				</option>
			</select>
		</div>

		<div class="form-group">
			<label>
				分数可见性<br>
				<small class="form-text text-muted">
					控制分数是向公众、登录的用户还是仅管理可见
				</small>
			</label>
			<select class="form-control" name="score_visibility">
				<option value="public" {% if score_visibility == 'public' %}selected{% endif %}>
					公众
				</option>
				<option value="private" {% if score_visibility == 'private' %}selected{% endif %}>
					登录用户
				</option>
				<option value="hidden" {% if score_visibility == 'hidden' %}selected{% endif %}>
					隐藏
				</option>
				<option value="admins" {% if score_visibility == 'admins' %}selected{% endif %}>
					仅管理员
				</option>
			</select>
			<small class="form-text text-muted">
				此设置应尽量和“账户可见性”相同避免冲突
			</small>
		</div>

		<div class="form-group">
			<label>
				账户可见性<br>
				<small class="form-text text-muted">
					控制账户 (users &amp; teams) 是向所有人展示还是仅管理员
				</small>
			</label>
			<select class="form-control" name="account_visibility">
				<option value="public" {% if account_visibility == 'public' %}selected{% endif %}>
					公开
				</option>
				<option value="private" {% if account_visibility == 'private' %}selected{% endif %}>
					私有
				</option>
				<option value="admins" {% if account_visibility == 'admins' %}selected{% endif %}>
					仅管理员
				</option>
			</select>
			<small class="form-text text-muted">
				此设置通常和“分数可见性”相同，以避免冲突
			</small>
		</div>

		<div class="form-group">
			<label>
				注册可见性<br>
				<small class="form-text text-muted">
					控制是否启用注册
				</small>
			</label>
			<select class="form-control" name="registration_visibility">
				<option value="public" {% if registration_visibility == 'public' %}selected{% endif %}>
					启用
				</option>
				<option value="private" {% if registration_visibility == 'private' %}selected{% endif %}>
					不启用
				</option>
			</select>
		</div>

		<div class="form-group">
			<div class="form-check">
				<label>
					<input id="paused" name="paused" type="checkbox" {% if paused %}checked{% endif %}>
					暂停 CTF<br>
					<small>
						阻止用户提交答案，直到取消暂停为止。但是仍然可用以看到题目。
					</small>
				</label>
			</div>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">确认</button>
	</form>
</div>