{% block header %}
{% endblock %}

<form method="POST" action="{{ script_root }}/admin/challenges/new" enctype="multipart/form-data">
	{% block name %}
	<div class="form-group">
		<label>
			挑战名:<br>
			<small class="form-text text-muted">
				题目的名字
			</small>
		</label>
		<input type="text" class="form-control" name="name" placeholder="输入挑战的名字">
	</div>
	{% endblock %}

	{% block category %}
	<div class="form-group">
		<label>
			类别:<br>
			<small class="form-text text-muted">
				题目的类别(Misc、Web、Pwn...)
			</small>
		</label>
		<input type="text" class="form-control" name="category" placeholder="输入挑战的类别">
	</div>
	{% endblock %}


	{% block message %}
	<div class="form-group">
		<label>
			描述:<br>
			<small class="form-text text-muted">
				对这个挑战题目做简单的介绍和说明.
			</small>
		</label>
		<textarea id="new-desc-editor" class="form-control markdown" name="description" rows="10"></textarea>
	</div>
	{% endblock %}

	{% block value %}
	<div class="form-group">
		<label>
			分值:<br>
			<small class="form-text text-muted">
				攻破这个题目可以得到多少分.
			</small>
		</label>
		<input type="number" class="form-control" name="value" placeholder="Enter value" required>
	</div>
	{% endblock %}

	{% block state %}
	<input type="hidden" name="state" value="hidden">
	{% endblock %}

	{% block type %}
	<input type="hidden" name="type" value="standard">
	{% endblock %}

	{% block submit %}
	<div class="form-group">
		<button class="btn btn-primary float-right create-challenge-submit" type="submit">创建</button>
	</div>
	{% endblock %}
</form>

{% block footer %}
{% endblock %}