{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>重置</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				{% with form = Forms.config.ResetInstanceForm() %}
				<form method="POST" id="reset-ctf-form">
					<div class="alert alert-danger" role="alert">
						<p>
							重置CTFd会批量删除您所有选择的数据，使比赛系统回到初始的状态。
						</p>

						<p>
							重置CTFd将会 <strong>永久删除</strong>您选择的数据。
						</p>

						<p>
							重置之前请仔细考虑，重置不会进行自动备份，数据删除后将无法还原。
						</p>

						<span>
							<strong>
								如果您需要备份，可以通过 <a href="{{ url_for('admin.config', _anchor='backup') }}">导出</a>功能。
							</strong>
						</span>
					</div>

					<hr>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.accounts(class="form-check-input") }}
							{{ form.accounts.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							删除所有用户以及团队相关信息<br>
							<small>(用户, 团队, 提交记录, Tracking)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.submissions(class="form-check-input") }}
							{{ form.submissions.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							删除所有得分以及提交记录<br>
							<small>(提交记录, 奖项, Unlocks, Tracking)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.challenges(class="form-check-input") }}
							{{ form.challenges.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							删除所有挑战及相关数据<br>
							<small>(挑战, Flags, 挑战提示, 挑战标签, 挑战文件)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.pages(class="form-check-input") }}
							{{ form.pages.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							删除所有页面及关联文件<br>
							<small>(页面, 页面文件)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.notifications(class="form-check-input") }}
							{{ form.notifications.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							删除所有公告<br>
							<small>(公告)</small>
						</span>
					</div>

					<br>

					{{ form.nonce() }}

					{{ form.submit(class="btn btn-warning btn-lg btn-block") }}
				</form>
				{% endwith %}
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block entrypoint %}
	<script defer src="{{ url_for('views.themes', theme='admin', path='js/pages/reset.js') }}"></script>
{% endblock %}
