<div role="tabpanel" class="tab-pane config-section" id="settings">
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group">
			<label>
				题目是否可见<br>
				<small class="form-text text-muted">
					控制用户是否必须登录才能查看挑战
				</small>
			</label>
			<select class="form-control custom-select" name="challenge_visibility">
				<option value="public" {% if challenge_visibility == 'public' %}selected{% endif %}>
					公开
				</option>
				<option value="private" {% if challenge_visibility == 'private' %}selected{% endif %}>
					私密
				</option>
				<option value="admins" {% if challenge_visibility == 'admins' %}selected{% endif %}>
					仅管理员可见
				</option>
			</select>
		</div>

		<div class="form-group">
			<label>
				分数是否可见<br>
				<small class="form-text text-muted">
					控制解决方案/评分是向公众显示、向登录用户显示、对所有非管理员隐藏还是仅向管理员显示
				</small>
			</label>
			<select class="form-control custom-select" name="score_visibility">
				<option value="public" {% if score_visibility == 'public' %}selected{% endif %}>
					公开
				</option>
				<option value="private" {% if score_visibility == 'private' %}selected{% endif %}>
					私密
				</option>
				<option value="hidden" {% if score_visibility == 'hidden' %}selected{% endif %}>
					隐藏
				</option>
				<option value="admins" {% if score_visibility == 'admins' %}selected{% endif %}>
					仅管理员可见
				</option>
			</select>
			<small class="form-text text-muted">
				此设置通常应与帐户可见性相同，以避免冲突。
			</small>
		</div>

		<div class="form-group">
			<label>
				账户可见性<br>
				<small class="form-text text-muted">
					控制是否将帐户（用户和团队）显示给所有人、仅显示给经过身份验证的用户或仅显示给管理员
				</small>
			</label>
			<select class="form-control custom-select" name="account_visibility">
				<option value="public" {% if account_visibility == 'public' %}selected{% endif %}>
					公开
				</option>
				<option value="private" {% if account_visibility == 'private' %}selected{% endif %}>
					私密
				</option>
				<option value="admins" {% if account_visibility == 'admins' %}selected{% endif %}>
					仅管理员可见
				</option>
			</select>
			<small class="form-text text-muted">
				此设置通常应与分数可见性相同，以避免冲突。
			</small>
		</div>

		<div class="form-group">
			<label>
				注册信息<br>
				<small class="form-text text-muted">
					控制是否允许注册
				</small>
			</label>
			<select class="form-control custom-select" name="registration_visibility">
				<option value="public" {% if registration_visibility == 'public' %}selected{% endif %}>
					允许
				</option>
				<option value="private" {% if registration_visibility == 'private' %}selected{% endif %}>
					不允许
				</option>
				<option value="mlc" {% if registration_visibility == 'mlc' %}selected{% endif %}>
					只有网络联盟可以
				</option>
			</select>
		</div>

		<div class="form-group">
			<div class="form-check">
				<label>
					<input id="paused" name="paused" type="checkbox" {% if paused %}checked{% endif %}>
					暂停CTF<br>
					<small>
						禁止用户在未授权前提交答案。挑战仍然可以看到。
					</small>
				</label>
			</div>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">上传</button>
	</form>
</div>